@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Force scroll */
body {
  overflow-y: scroll;
  /* cursor: url('/cursor.png'), default; */

}

/* force this styling through the purger*/
.link,
a {
  color: inherit;
  text-decoration: inherit;
}

button:hover,
a:hover{
  cursor: url('/cursor.png'), default;
}


/**
 ** Abstrations
 */
.heading-1 {
  @apply text-ocher font-bold text-center mb-4
}
.heading-2 {
  @apply text-ocher font-bold
}

/**
 ** Rich text bottom margins
 **/
.rtf > * {
  @apply mb-4
}
.rtf > *:last-child {
  @apply mb-0
}

/**
* Page transtitions
**/

.page-enter-active, .page-leave-active {
  transition: opacity .33s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

/* Other transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slideup-enter-active,
.slideup-leave-active {
  transform: translateY(0);
  overflow: hidden;
  transition: transform 3s ease-in-out;
}

.slideup-enter,
.slideup-leave-to {
  transform: translateY(100vh);
}


/**
 * Debug
 */
.outline {
  outline: 1px solid cyan;
}
.debug {
  outline: 1px solid red;
}
.debug.flex > *,
.debug.grid > * {
  outline: 1px solid blue
}
