@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/**
 * full screen pages
 */
 /* html {
  min-height: 100%;
}

#__layout,
body {
  min-height: 100vh;
} */

/**
* Page transtitions
**/
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}


/**
 * Debug
 */
 .debug {
  outline: 1px solid red;
}
.debug.flex > *,
.debug.grid > * {
  outline:  1px solid blue
}
